<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item creation</title>
</head>
<body>
<h3>Item creation form</h3>

<form action="#" th:action="@{/items}" th:object="${item}" method="post">
    <p><label>Name
        <input type="text" th:field="*{name}"/>
    </label></p>
    <p><label>Owner Id
        <input type="number" th:field="*{owner.id}"/>
    </label></p>
    <p><label>Description
        <textarea th:field="*{description}"></textarea>
    </label></p>
    <p><label>Quality
        <select th:field="*{quality}">
            <option th:each="v : ${T(isep.endoftrackproject._0money_c2c.model.Item.Quality).values()}" th:value="${v}"
                    th:text="${v}"></option>
        </select>
    </label></p>
    <p><label>Price
        <input type="number" step="0.01" th:field="*{price}"/>
    </label></p>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>