<!DOCTYPE html>
<html lang="en" th:with="appName=${T(isep.endoftrackproject._0money_c2c.constants.Constants).APP_NAME}">
<!--/*@thymesVar id="appName" type="String"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}"></title>
    <link th:replace="fragments/general.html::head"/>
</head>
<body>
<div th:replace="fragments/general.html::navbar"></div>
<div class="row justify-content-center">
    <div class="bg-secondary m-5 p-5">
        <div class="card m-5" style="width: 18rem;">
            <!--maybe add profile image-->>
            <div class="card-body">
                <h5 class="card-title">name</h5>
                <p class="card-text">description</p>
                <p class="card-text">quality</p>
                <p class="card-text">Owner</p>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html::scripts"></div>
</body>
</html>