<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h3>Registration</h3>

<form th:action="@{/users}" th:object="${user}" method="post">
    <label>Username
        <input type="text" th:field="*{username}" required/>
    </label>
    <label>Email
        <input type="email" th:field="*{email}" required/>
    </label>
    <label>Password
        <input type="password" th:field="*{password}" required/>
    </label>
    <label>Telephone Number
        <input type="text" th:field="*{telephoneNumber}" required/>
    </label>
    <fieldset>
        <legend>Address</legend>
        <label>Line 1
            <input type="text" th:field="*{address.line1}" required/>
        </label>
        <label>City
            <input type="text" th:field="*{address.city}" required/>
        </label>
        <label>Zip code
            <input type="text" th:field="*{address.zipCode}"/>
        </label>
        <label>Country
            <input type="text" th:field="*{address.country}" required/>
        </label>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
