<!DOCTYPE html>
<!--/*@thymesVar id="user" type="isep.endoftrackproject._0money_c2c.model.UserDTO"*/-->
<!--/*@thymesVar id="self" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="mode" type="java.lang.String"*/-->
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<html lang="en" th:with="create=${mode=='create'}, edit=${mode=='edit'}, view=${mode=='view'}">
<!--/*@thymesVar id="create" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="edit" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="view" type="java.lang.Boolean"*/-->
<head th:replace="fragments/general.html::head"></head>
<body>
<div th:replace="fragments/general.html::navbar"></div>
<form th:action="@{''}" class="m-5 card px-5 bg-light" method="post" th:if="${create or edit or view}">
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div class="row">
        <fieldset class="col-sm">
            <legend>Main information</legend>
            <input th:if="${edit}" type="number" th:field="${user.id}" required hidden/>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Username</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.username}" th:disabled="${view}"
                       required>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.username')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row" th:if="${self}">
                <label class="col-sm-5 col-form-label">Email</label>
                <input class="form-control col-sm-7" type="email" th:field="${user.email}" required
                       th:disabled="${view}"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.email')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row align-items-center" th:if="${self}">
                <label class="col-sm-5 col-form-label">Telephone Number</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.telephoneNumber}" required
                       th:disabled="${view}"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.telephoneNumber')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row" th:if="${!view}">
                <label class="col-sm-5 col-form-label">Password</label>
                <input class="form-control col-sm-7" type="password" th:field="${user.password}" required
                       th:disabled="${view}"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.password')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row align-items-center" th:if="${!view}">
                <label class="col-sm-5 col-form-label">Confirm password</label>
                <input class="form-control col-sm-7" type="password" th:field="${user.confirmPassword}" required
                       th:disabled="${view}"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user')}" th:text="${error}"></small>
            </div>
            <div class="form-group row" th:if="${!self}">
                <label class="col-sm-5 col-form-label">Location</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.address.publicLocation}" disabled/>
            </div>
            <div class="form-group row" th:if="${view}">
                <label class="col-sm-5 col-form-label">Evaluation</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.rating}" disabled/>
            </div>
            <div class="form-group row" th:if="${view}">
                <label class="col-sm-5 col-form-label">Items sold</label>
                <input class="form-control col-sm-7" type="number" th:field="${user.soldItemsCount}" disabled/>
            </div>
        </fieldset>
        <fieldset class="col-sm" th:if="${self}">
            <legend>Address</legend>
            <input th:if="${edit}" type="number" th:field="${user.address.id}" required hidden/>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Line 1</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.address.line1}" required
                       th:disabled="${view}" autocomplete="street-address"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.address.line1')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">City</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.address.city}" required
                       th:disabled="${view}"/>

                <small class="col-sm-12" th:each="error: ${#fields.errors('user.address.city')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Zip code</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.address.zipCode}"
                       th:disabled="${view}"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.address.zipCode')}"
                       th:text="${error}"></small>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Country</label>
                <input class="form-control col-sm-7" type="text" th:field="${user.address.country}" required
                       th:disabled="${view}"/>
                <small class="col-sm-12" th:each="error: ${#fields.errors('user.address.country')}"
                       th:text="${error}"></small>
            </div>
        </fieldset>
    </div>
    <p th:if="${message!=null}" th:text="${message}"></p>
    <div class="col text-center">
        <a th:if="${view and self}" class="btn btn-primary" th:href="@{''(mode='edit')}">Edit</a>
        <input th:if="${!view}" class="btn btn-primary" type="submit" value="Submit"/>
        <a th:if="${edit}" class="btn btn-danger" th:href="@{''(mode='view')}">Cancel</a>
    </div>
</form>

<div th:if="${view}">
    <h3>Items</h3>
    <!--/*@thymesVar id="item" type="isep.endoftrackproject._0money_c2c.model.Item"*/-->
    <div th:each="item:${items}">
        <div th:replace="fragments/item_fragments::item_fragment(item=${item})"></div>
    </div>
</div>
</body>
</html>
