<!DOCTYPE html>
<html lang="en" th:with="appName=${T(isep.endoftrackproject._0money_c2c.constants.Constants).APP_NAME}">
<!--/*@thymesVar id="appName" type="String"*/-->
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}"></title>
    <link th:replace="fragments/general.html::head"/>
</head>
<body>
<div th:replace="fragments/general.html::navbar"></div>
<div class="card m-5" style="width: 18rem;">
    <!--maybe add profile image-->>
    <div class="card-body">
        <h5 class="card-title">Username</h5>
        <p class="card-text">address</p>
        <p class="card-text">mail</p>
        <p class="card-text">Telephone number</p>
        <p class="card-text">evaluation</p>
        <p class="card-text">items sold</p>
        <a href="#" class="btn btn-primary">Modify</a>
    </div>
</div>
<a href="#" class="btn btn-primary m-5">Add items</a>
<div th:replace="fragments/general.html::scripts"></div>
</body>
</html>